// Mixins
@mixin font-builder($ss-font-family, $ss-font-size, $ss-font-weight, $ss-line-height) {
    font-family: $ss-font-family;
    font-size: $ss-font-size;
    font-weight: $ss-font-weight;
    line-height: $ss-line-height;
}